{% extends 'base.html.twig' %}

{% block content %}
    <div class="jumbotron">
        <h1>Datensätze</h1>
        <ul>
            {% for category in categories %}
                <li><a href="/?category_id={{ category.id }}">{{ category.name }}</a></li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
