{% extends 'base.html.twig' %}

{% block content %}
    <div class="jumbotron">
        {% for category in categories %}
            <h3>
                <a href="/?category_id={{ category.id }}">{{ category.name }}</a>
            </h3>
            <ul>
                {% for childCategory in category.getChildren() %}
                    <li>
                        <a href="/?category_id={{ childCategory.id }}">{{ childCategory.name }}</a>
                    </li>
                {% endfor %}
            </ul>
        {% endfor %}
    </div>
{% endblock %}
